{% macro links(links, collection, options, depth) %}

    {% import _self as self %}

    {% for link in links %}
        <{{ options.item_tag ?: 'li' }} {{ html_attributes(options.get('item_attributes', [])) }} class="
        {{ link.children.isEmpty() ? '' : (options.dropdown_class ?: 'dropdown') }}
        {{ link.active ? options.get('active_class', 'active') }}
        {{ link.current ? options.get('selected_class', options.get('current_class', 'selected')) }}
        {{ link.children.isEmpty() ? '' : options.item_class }}
        {{ link.class }}">

        <a
                href="{{ link.url }}"
                target="{{ link.target }}"
                {% if not link.children.isEmpty() %}
                    class="{{ depth > 1 ? options.child_link_class ?: options.link_class : options.link_class }} {{ link.children.count() ? options.get('link_class_dropdown') }}"
                {% else %}
                    class="dropdown-item"
                {% endif %}
                {% if not link.children.isEmpty() %}
                    id="{{ link.url }}"
                {% endif %}
                {{ html_attributes(options.get('link_attributes', [])) }}
                {% if link.children.count() %}
                    {{ html_attributes(options.get('link_attributes_dropdown', [])) }}
                {% endif %}
        >
            {{ link.title|raw }}
        </a>

        {% if not link.children.isEmpty() %}
            {% if depth+1 <= options.get('depth', 999) %}

                {% if options.get('dropdown_toggle') %}
                    <{{ options.get('dropdown_toggle') }}
                    class="{{ options.get('dropdown_toggle_class') }}"
                    {{ html_attributes(options.get('dropdown_toggle_attributes', []))|raw }}>
                    {{ options.get('dropdown_toggle_text')|raw }}
                    </{{ options.get('dropdown_toggle') }}>
                {% endif %}

                <{{ options.child_list_tag ?: options.list_tag ?: 'ul' }} class="{{ options.child_list_class }}"
                aria-labelledby="{{ link.url }}"
                >
                {{ self.links(link.children, collection, options, depth+1) }}
                </{{ options.child_list_tag ?: options.list_tag ?: 'ul' }}>
            {% endif %}
        {% endif %}
        </{{ options.link_tag ?: 'li' }}>
    {% endfor %}
    {% if depth == 1 %}
        <div class="search_form nav-item menu_elem_search">
            <form class="form-inline my-2 my-lg-0 search-form" method="get" action="/search">
                <input class="form-control mr-sm-2" type="search" name="query" placeholder="Поиск" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Искать</button>
            </form>
        </div>
    {% endif %}
{% endmacro %}
